//color
$color-black-dark: #1a1a1a;
$color-black: #000000;
$color-grey-neutral: #a1a3ab;
$color-grey: #747474;
$color-grey-light: #f8f8f8;
$color-red-light: #ff6767;
$color-red: #f21e1e;
$color-white: #ffffff;
$color-blue: #0225ff;
$color-blue-light: #3abeff;
$color-blue-lightest: #f5f8ff;
$color-green: #05a301;

// font size
$font-size-3xl: 36px;
$font-size-2xl: 32px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 15px;
$font-size-xs: 14px;
$font-size-13: 13px;
$font-size-12: 12px;
$font-size-10: 10px;

// font weight
$font-medium: 500;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
