@use '../base/' as *;

.form-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 0 40px;

  .form-title {
    width: 100%;
    padding-bottom: 40px;
    font-size: $font-size-2xl;
    font-weight: $font-medium;
  }

  .form-link {
    width: 100%;
    font-size: $font-size-md;
    font-weight: $font-normal;
    span {
      color: $color-black;
      font-weight: $font-normal;
    }
  }
}

.error-message {
  padding-top: 10px;
  color: $color-red;
}
