@use '../base/' as *;

.form-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 0 40px;
}

.error-message {
  padding-top: 10px;
  color: $color-red;
}
